{% extends "admin/layout/layout.html" %}
{% load static %}

{% block title %} Estimator Question List {% endblock title %}

{% block style %}
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Estimator Question List</h3>
        </div>
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" id="question_search" class="form-control" placeholder="Search for..." value="{{search|default:''}}">
                <span class="input-group-btn">
                <button class="btn btn-secondary searchBtn"  type="button" onclick="ajax_estimate_question_list()">Go!</button>
                </span>
            </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="listing-filter">
          <div class="block right">
            <i class="fa fa-filter"></i> Filters
          </div>
          <div class="block" style="min-width: 130px;">
            <select class="form-control" name="question_status" id="question_status" onchange="ajax_estimate_question_list()">
              <option value="">Select</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
          <div class="block">
            <a href="/admin/save-estimator-question/" type="button" class="btn btn-primary" style="float:right;" id="addEstimatorQuestion"><i class="fa fa-plus-circle"></i> Add Question</a>
          </div>
        </div>

        <div class="clearfix"></div>




      <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">

              {% if messages %}
              {% for message in messages %}
                <div class="alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>{{ message }}
                </div>
              {% endfor %}
            {% endif %}

              <div class="table-responsive">
                <table class="table table-striped bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">ID </th>
                      <th class="column-title">Category </th>
                      <th class="column-title">Question </th>
                      <th class="column-title">Status </th>
                      <th class="column-title no-link last"><span class="nobr">Action</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody id="estimatorQuestionList">
                    {% if estimator_question_list %}
                        {% for ques in estimator_question_list %}
                        <tr class="even pointer">
                        <td class=" ">{{ forloop.counter0|add:sno }}</td>
                        <td class=" ">{{ques.category_name}}</td>
                        <td class=" ">{{ques.question}}</td>
                        <td class=" ">
                          {% if ques.status_name|lower == 'active' %}
                          <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{ques.id}}">Active</button>
                          {% else %}
                          <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{ques.id}}">Inactive</button>
                           {% endif %}
                        </td>
                        <td class="last">
                          <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                            <a href="/admin/save-estimator-question/?id={{ques.id}}" type="button" data-id="{{ques.id}}"  class="btn btn-xs btn-round btn-primary edit-question"><i class="fa fa-edit"></i> Edit</a>

                              {% comment %}
                              <input type="hidden" name="event_id" value="{{ques.id}}">
                              <input type="hidden" class="status-change" name="status" value="{% if ques.status_name|lower == 'active' %}0{% else %}1{% endif %}">
                              {% if ques.status_name|lower == 'active' %}
                                <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove"></i> Deactivate</button>
                              {% else %}
                                <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check"></i> Activate</button>
                              {% endif %}
                              {% endcomment %}
                          </div>

                        </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>  <td class=" ">No Question available </td></tr>
                    {% endif %}

                  </tbody>
                </table>
                <nav aria-label="Page navigation example" style="float:right;">
                  <input type="hidden" id="page-question-list" value="1"/>
                  <ul class="pagination justify-content-end" id="estimatorQuestionPagination">
                      {{pagination_html|safe}}
                  </ul>
                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);
      // hit add event type modal
      /*if(window.location.hash && window.location.hash == '#add-event-type' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }*/
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/estimator-question.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/boolean-active-inactive.js' %}"></script>

{% endblock %}
